@use "sass:math";
@use "sass:meta";

// Utils

@function rem($pixels) {
  @if meta.type-of($pixels) != "number" {
    @error "The value #{$pixels} is not a number.";
  }
  @return math.div($pixels, 16px) * 1rem;
}

// ---

