@use "sass:map";
@use "../abstracts/design-system-tokens" as tokens;

@font-face {
  font-family: #{map.get(tokens.$font-families, "primary")};
  src: url("/src/assets/fonts/nunito.ttf") format('truetype');
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: #{map.get(tokens.$font-families, "primary")};
  src: url("/src/assets/fonts/nunito-italic.ttf") format('truetype');
  font-weight: 200 900;
  font-style: italic;
  font-display: swap;
}