@use "/src/styles/abstracts/design-system-tokens" as tokens;

@each $theme, $variables in tokens.$themes {

  $selector: ":root[data-theme='#{$theme}']";

  @if $theme == "light" {
    $selector: $selector + ", :root";
  }
  
  #{$selector} {

    @each $name, $value in $variables {
      --#{$name}: #{$value};
    }
    
  }

}